

#plans
  clearfix()
  .noMessage
    width 80%
    margin 10px 10%
    height 350px
    img
      width px2rem(280)
      display block
      margin 0 auto
    p
      font bold 15px Sans-Serif
      text-align center
      color #bec0c0
  .tab
    margin 0
    padding-left 0
    border-bottom px2rem(1) solid #dddddd
    vertical-align baseline
    height px2rem(95)
    line-height px2rem(97)
    li
      display inline-block
      text-align center
      width 50%
      font-size px2rem(28)
      &.w25per
        width 25%
      &.w33per
        width 33%
      .active
        color #38adff
        display inline-block
        width 100%
      .new
        background-position 20px
        width 100%
        display inline-block
        background-size px2rem(40) px2rem(40)
      .newSelect
        background-position 20px
        background-size px2rem(40) px2rem(40)
      .hot
        background-position 20px
        width 100%
        display inline-block
        background-size px2rem(40) px2rem(40)
      .hotSelect
        background-position 20px
        background-size px2rem(40) px2rem(40)
  #plansUl
    li
      .plansText
        position relative
        a , a:hover
          color #333
        p
        max-height px2rem(160)
        a
          word-break: break-all;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          max-height px2rem(160)
          white-space normal
        .plansTextIcon
          display inline-block
          line-height px2rem(32)
          padding 0 px2rem(10)
          margin-top px2rem(16)
          border-radius px2rem(8)
          font-size px2rem(22)
          color #fff
        .plansTextIconGreen
          background #82c650
        .plansTextIconBlue
          background #38acff
        .planTextIconOrange
          background orange
        .finish-icon
          display inline-block
          line-height: 0.426666666666667rem;
          padding 0 px2rem(10)
          margin-top px2rem(16)
          margin-left:px2rem(15)
          background url("./img/finish.png") no-repeat
          background-size px2rem(24) px2rem(24)
          height px2rem(24)
          color:#7EC653
          span
            margin-left:px2rem(20)
  .loading
    text-align center
    color #bec0c0
  .icon-bg-exam
    background #c7ad56 !important
  .icon-bg-trainingClass
    background #5f8ded !important
  .icon-bg-solution
    background #8ec051 !important
  .icon-bg-new
    background #f5864f !important

  .valid-status
    display inline-block
    font-size px2rem(24)
    background-repeat no-repeat
    background-position 0 center
    margin-left px2rem(24)
    position relative
    &.not-started
      padding-left px2rem(40)
      background-image url(./img/icon-plan-notStart.png)
      color $color-A1
      background-size contain
    &.invalid
      padding-left px2rem(40)
      background-image url(./img/icon-plan-invalid.png)
      color $color-B4
      background-size contain
    &.will-invalid
      padding-left px2rem(40)
      background-image url(./img/icon-plan-willInvalid.png)
      color $color-B4
      background-size contain
    &.not-study
      position absolute
      right px2rem(30)
      width px2rem(111)
      height px2rem(88)
      background url(./img/icon-not-study.png) no-repeat
      background-size contain
    &.pass
      position absolute
      right px2rem(30)
      width px2rem(111)
      height px2rem(88)
      background url(./img/icon-pass.png) no-repeat
      background-size contain
    &.not-pass
      position absolute
      right px2rem(30)
      width px2rem(111)
      height px2rem(88)
      background url(./img/icon-not-pass.png) no-repeat
      background-size contain
    &.not-mark
      position absolute
      right px2rem(30)
      width px2rem(111)
      height px2rem(88)
      background url(./img/icon-not-mark.png) no-repeat
      background-size contain


