.refreshWebLoadTop
  margin-top 1.2rem
.refreshWebLoadSpecialTop
  margin-top 2.48rem
.refreshNoBarTop
  margin-top 0
.refreshNoBarSpecialTop
  margin-top 1.2rem
.guide-page
  text-align center
  display fixed
  top 0
  bottom 0
  left 0
  right 0
  img
    width px2rem(256)
    height px2rem(256)
    margin-top px2rem(100)

  p
    font-size px2rem(32)
    color $color-Z1
  p.sub-content
    color $color-Z3

