//font
$font-family-base = arial, "Helvetica Neue", "Hiragino Sans GB", "Microsoft Yahei", "宋体", Helvetica, STHeiTi, sans-serif
$font-size-base = 14px
$line-height-base = 1.42857143
$fs36 = 36px
$fs32 = 32px
$fs28 = 28px
$fs26 = 26px
$fs24 = 24px

//== colors
// design color
$color-A0 = #f2f4f8 // 背景色
$color-A1 = #009aec // 主色
$color-B1 = #ffc03c // 辅助色1
$color-B2 = #f48644 // 辅助色2
$color-B3 = #82c650 // 辅助色3
$color-B4 = #fa3c3c // 辅助色4
$color-B5 = #e2701e // 辅助色5
$color-Z1 = #333333 // 主文
$color-Z2 = #666666 // 副文
$color-Z3 = #a0a0a0 // 提示文案
$color-Z4 = #bec0c0 // 弱化文案
$color-L1 = #ececec // line1 - 常用于分割线
$color-L2 = #dcdcdc // line2 - 常用于tab分割线
$color-O1 = #ebebeb //白色色块点击瞬间
