.breadcrumbs-wrapper
  height px2rem(85)
  background #ffffff
  overflow hidden

.breadcrumbs
  margin 0
  font-size px2rem(28)
  color $color-A1
  list-style-type none
  height px2rem(96)
  padding-left px2rem(26)
  white-space nowrap
  overflow-x auto

  li
    display inline-block
    line-height px2rem(96)
    margin-right px2rem(12)

  .active
    color #b4b4b4
