.train
  background-color #fff
  .train_item
    list-style none
    padding:8px 6px
    height px2rem(186)
    .img
      width: px2rem(274);
      height: px2rem(155);
      float:left;
      margin-right 5px
      >a
        display: block;
        >img
          width: px2rem(274);
          height: px2rem(155);
          border-style none
          vertical-align middle
    .train_info
      float:left
      clear right
      height 100%
      position relative
      a
        color:#000;
      .title-info
        white-space: normal !important;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: px2rem(395);

      .time
        font-size px2rem(24)
        color:#111111
      .taskrate
        font-size: px2rem(26)
        color:#666666;
        margin-top: 4px










