.changeDefaultPwd
  width 100%
  height 100%
  overflow hidden
  background #fff

  .info
    height: px2rem(80)
    line-height: px2rem(80)
    width: 100%
    padding: 0 px2rem(24)
    background-color: #e2f4fe
    color: $color-Z2

  .info-icon
    position: relative
    top: px2rem(2)
    display: inline-block
    width px2rem(24)
    height px2rem(24)
    margin-right: px2rem(15)
    background url('./static/info-icon.png') no-repeat
    background-size contain

  .info-text
    font-size: px2rem(28)

  .form-control
    position relative
    margin-left: px2rem(24)
    margin-right: px2rem(24)
    border-bottom: 1px solid #ececec
    line-height: px2rem(104)
    height: px2rem(104)
    ::placeholder
      color: $color-Z4
      font-size: px2rem(29)

  input[type='password']
    display: inline-block
    width 100%
    background none
    font-size px2rem(29)
    border: none !important
    color: $color-Z1

  .changePwd-footer
    margin-top: px2rem(64)
    margin-left: px2rem(24)
    margin-right: px2rem(24)
    text-align: center

  button
    display block
    width 100%

  .btn-disabled
    opacity .48

  .jump
    display: inline-block
    margin-top: px2rem(40)
    font-size: px2rem(40)
    color: $color-A1
    border-bottom: 1px solid $color-A1
    outline: none
