.dx-footer
  height px2rem(97)
  line-height px2rem(97)
  margin-top px2rem(24)
  position fixed
  z-index 9999
  bottom 0
  width 100%
  display-flex(flex-start)
  background-color #FFF
  font-size px2rem(32)
  border-top 1px solid $color-L2
  .dx-footer-button
    display block
    flex 1
    color $color-A1
    text-align center
    align-self center
    span:before
      content "　"
      margin-right px2rem(14)
    span.dx-icon-plus:before
      background url("~img/icon_add2.png") no-repeat center
      background-size px2rem(32)
  .dx-footer-desc
    box-flex(1)
    padding-left px2rem(24)
    line-height px2rem(97)
    color $color-A1
    font-size px2rem(28)
    span.dx-icon-triangle:after
      content "　"
      width px2rem(28)
      height px2rem(97)
      background url("~img/icon_triangle2.png") no-repeat center
      background-size px2rem(28)
      margin-left px2rem(20)
    &.active
      span.dx-icon-triangle:after
        background-image url("~img/icon_triangle2_active.png")
  .dx-footer-operation
    width px2rem(264)
    background-color $color-A1
    color #FFF
    text-align center

  .dx-footer-operation-disabled
    background-color $color-Z4
