$loading-color = $brand-primary

.dd-guide
  display: none
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  z-index 10

  img
    width: 100%
    height: 100%

  #dd-enter
    position: absolute
    bottom: 10%
    margin: auto
    left: 0
    right: 0
    width: 45%
    text-align: center
    color: #fff
    height: px2rem(100)
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: px2rem(10);
    font-size: px2rem(36);
    display: flex;
    justify-content: center;
    align-items: center;

