.input-comp
  display: block
  padding: 0 px2rem(24)
  background: #fff
  input
    height: px2rem(84)
    font-size: px2rem(30)
    border: 0 none
    border-bottom: px2rem(1) solid #f3f3f3

    &.block
      display: block
      width: 100%
