.preview-notice-wrap
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  z-index 11
  background #000
  padding-top 45%
  .preview-notice
    background url("~img/icon_preview.png") no-repeat center 0
    background-size px2rem(220) px2rem(180)
    text-align center
    padding-top px2rem(260)
  .preview-notice-title
    font-size px2rem(28)
    color #FFF
  p
    font-size px2rem(24)
    color $color-A1
