#account
  min-width 1200px
  .dx-footer
    min-width 1200px
#accountNav
  width 100%
  height 85px
  background #fff
  .top
    width 1200px
    height 100%
    margin 0 auto
    img
      // width 222px
      height 53px
      display block
      padding 16px
#accountContent
  width 100%
  height 600px
  background url("./img/bg.png")
  overflow hidden
  padding-bottom 300px
  .download
    position absolute
    bottom 8px
    right 40px
    width 128px
    height 40px
    background-color #ff8208
    line-height 40px
    color #fff
    cursor pointer
    display: flex;
    align-items: center;
    justify-content: center;
    text-align center
    img
      margin-right: 10px;

  .content
    width 1200px
    height 100%
    margin 40px auto
    position relative
    .banner
      width 760px
      height 528px
      float left
    .form2
      float:none !important
      margin: 80px auto !important
    .form1
      width 358px
      height 390px
      float right
      background #fff
      margin 80px 40px
      .formBox
        width 310px
        margin 20px auto 0
        overflow hidden
        a,a:hover
          color #009aec
        .formTitle
          position relative
          margin 20px auto
          img
            position absolute
            width 17px
            left 5px
            top 2px
          p
            padding-left 30px
            font-size 16px
        .formInput
          width 308px
          height 35px
          border 1px solid #bec0c0
          margin 20px auto
          position relative
          .formError
            position absolute
            right 0
            top -20px
            color #f00
            font-size 12px
            i
              width 15px
              height 15px
              background #f00
              border-radius 15px
              font-weight bold
              display inline-block
              color #fff
              text-align center
              font-style: normal
              margin-right 5px
              line-height 15px
          img
            position absolute
            width 20px
            left 5px
            top 8px
          input
            position absolute
            left 40px
            width 260px
            height 33px
            border none
            outline none
          .code
            width 180px
          .line
            position absolute
            left 220px
            width 1px
            height 20px
            top 8px
            background #bec0c0
          .codeImg
            width 85px
            height 33px
            position absolute
            right 3px
            top 1px
            line-height 33px
            text-align center
            img
              width: 85px;
              height: 33px;
              left: 0;
              top: 0;
          select
            position absolute
            left 40px
            width 260px
            height 33px
            border none
            appearance:none;
            -moz-appearance:none;
            -webkit-appearance:none;
            background: url("./img/icon_select.png") no-repeat scroll right center transparent;
            outline none
        .formBtn
          width 100%
          margin 35px auto 0
          position relative
          text-align: center
          .formForget
            position absolute
            right 0
            top -25px
            color #009aec
            font-size 12px
          .remember
            position absolute
            left 0
            top -25px
            color #009aec
            font-size 12px
            input
              vertical-align: text-bottom;
              margin-bottom: 1px;
          button
            display block
            background #009aec
            text-align center
            width 100%
            height 40px
            line-height 40px
            color #fff
            border none
            cursor pointer
          .btn-disabled
            opacity .48
          a:hover
            text-decoration none
          p
            text-align center
            color #009aec
            margin 5px
            font-size 12px
        .formBoxForget
          text-align center
          margin 5px auto
          color #009aec
#accountFooter
  font-family '微软雅黑'
  margin 50px auto 0
  text-align center
  color #a0a0a0
  padding-bottom 70px
  p
    margin 0
    a, a:hover
      color #a0a0a0
  .footerHref
    margin-bottom 15px

.changePwd-jump
  display: inline-block
  margin-top: 20px
  font-size: 16px
  color: $color-A1
  outline: none
  &:hover
    text-decoration: underline !important;
