.join
  margin 0 auto
  height 100%
  width 360px
  padding 20px
  background-color #ffffff
  .tip
    color #fa3c3c
    float right
  form
    clear both
  .field
    height 40px
    margin-bottom 20px
    position relative
    border 1px solid #bdc0c0
    img
      position absolute
      left 5px
      top 50%
      transform translate(0, -50%)
      width 20px
      height 20px
    input
      margin-left 40px
      width 280px
      border 0
      outline none
      line-height 40px
      height 40px
      background-color transparent
    .comment
      width 340px
      margin-left 10px
    .phone
      width 165px
    .code
      background-color transparent
      width 150px
      border none
      border-left 1px solid #dcdcdc
      text-align center
      outline none
      cursor pointer
      display inline-block
      text-decoration none
  .join-button
    outline none
    background-color #009aec
    text-align center
    width 360px
    color white
    height 40px
    border none
    cursor pointer
  .join-button:disabled
    background-color #eee
