.navList
  width 100%
  height 40px
  background #202028
  .nav
    width 1200px
    margin 0 auto
    line-height 40px
    .navTitle
      width 225px
      height 40px
      background #009aec
      color #fff
      float left
      position relative
      img
        position absolute
        top 12px
        left 70px
      p
        position absolute
        top -14px
        left 90px
    .navTab
      width 100px
      float left
      color #fff
      text-align center
      cursor pointer;
    .active
      color #009aec
.listBox
  width 1200px
  margin 20px auto
  overflow hidden
  .dx-card
    float left
.empty
  width 290px
  margin 80px auto
  img
    width 202px
    height 157px
    margin 0 auto
    display block
  a
    color #a0a0a0
    display block
    text-align center
    margin-top 40px
  a:hover
    text-decoration: none
.clickMore
  width 100%
  line-height 40px
  text-align center
  color #fff
  padding-bottom 278px
  .clickMoreBtn
    width 1200px
    margin 0 auto
    background #b8b8b8
    cursor pointer


