.help
  background #fff
  .question
    margin 0
    padding-left px2rem(30)
    height px2rem(94)
    line-height px2rem(94)
    font-size px2rem(30)
    font-weight normal
    border-bottom 1px solid #ececec
    &:before
      content ''
      display inline-block
      width px2rem(28)
      height px2rem(28)
      margin-right px2rem(16)
      background url('./img/icon-problem.png') no-repeat
      background-size contain
      vertical-align middle
  .answers
    position relative
    padding px2rem(24) px2rem(30)
    color #8c8c8c
    line-height px2rem(48)
    border-bottom 1px solid #ececec
    &:before
      content ''
      position absolute
      top px2rem(-2)
      left 0
      display inline-block
      width px2rem(30)
      height px2rem(4)
      background-color #fff


