.alert
  width 100%
  height 100%
  position fixed
  left 0
  top 0
  background-color rgba(0, 0, 0, .5)
  z-index 9
  .alertBox
    width 288px
    min-height 150px
    margin 10% auto
    background-color #fff
    overflow hidden
    padding 5px 10px
    .alertImg
      width 40px
      height 40px
      margin 30px auto 20px
    .alertFont
      text-align center
      font-size 18px
