.about-us-wrapper
  padding-bottom 288px
  .about-us
    background #fff
    padding 40px 70px
    margin-top 20px
    min-height 640px
    .about-us-title
      border-bottom 1px solid $color-L2
      font-size 18px
      font-weight bold
      padding-bottom 10px
      margin-bottom 20px
    .logo
      text-align center
    p
      text-indent 2em
      line-height 1.5
