.sign-in-record
  width 100%
  .sign-in-btn
    margin-top px2rem(78)
    text-align center
    .btn
      padding 0
      width px2rem(702)
      line-height px2rem(88)
      &-disable
        color #fff
        background-color #b4b4b4
        border-color #b4b4b4
