*.iml
.idea/
.project
node_modules
/coverage

src/main/app/config.js
npm-debug.log

src/main/webapp/polyfill
src/main/webapp/assets
src/main/webapp/favicon.ico
src/main/webapp/index.html
/target/
*.orig
.vscode/
.settings/
.classpath
bin
**/webapp/app
node
logs
stats.json

