

#electives
  clearfix()
  .noMessage
    width 80%
    margin px2rem(20) 10%
    height 350px
    img
      width px2rem(280)
      display block
      margin 0 auto
    p
      font bold 15px Sans-Serif
      text-align center
      color #bec0c0
  .tab
    margin 0
    padding-left 0
    border-bottom px2rem(1) solid #dddddd
    vertical-align baseline
    height px2rem(95)
    line-height px2rem(97)
    background #fff
    li
      display inline-block
      text-align center
      width 50%

      font-size px2rem(28)
      .active
        color #38adff
        display inline-block
        width 100%
      .new
        background url(./img/icon_new.png) no-repeat
        background-position 20px
        width 100%
        display inline-block
        background-size px2rem(40) px2rem(40)
      .newSelect
        background url(./img/icon_new_select.png) no-repeat
        background-position 20px
        background-size px2rem(40) px2rem(40)
      .hot
        background url(./img/icon_hot.png) no-repeat
        background-position 20px
        width 100%
        display inline-block
        background-size px2rem(40) px2rem(40)
      .hotSelect
        background url(./img/icon_hot_select.png) no-repeat
        background-position 20px
        background-size px2rem(40) px2rem(40)
  .loading
    text-align center
    color #bec0c0
  .icon-bg-exam
    background #c7ad56 !important
  .icon-bg-trainingClass
    background #5f8ded !important
  .icon-bg-solution
    background #8ec051 !important
#electivesUl
  li
    .electivesText
      position relative
      margin-left px2rem(264)
      padding-right px2rem(20)
      p
        max-height px2rem(160)
        a
          word-break: break-all;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          max-height px2rem(160)
          white-space normal




