.feedback
  padding px2rem(30)
  background-color #fff
  p, ul
    padding 0
    margin 0
  .fd-type
    margin-top px2rem(20)
    margin-bottom px2rem(20)
    li
      display inline-block
      width px2rem(126)
      height px2rem(42)
      line-height px2rem(38)
      margin-right px2rem(16)
      border 1px solid #cfcfcf
      border-radius px2rem(6)
      text-align center
      font-size px2rem(22)
      color #666
      &.active
        border-color $brand-primary
        color $brand-primary
  .c-textarea
    margin-top px2rem(24)
    .textarea-contral
      background-color #fff
  .c-btn
    padding-top px2rem(70)
    padding-bottom px2rem(40)
    .btn
      width 100%
    &.disable
      .btn
        opacity .5
