.selection-confirm
  .dx-footer
    text-align center
    .step-last
      width 40%
      color $color-Z1
    .step-confirm
      width 100%
      background-color $color-A1
      color #ffffff
    .step-confirm-disabled
      background-color $color-Z4
