#calendar
  width 100%
  .header
    background-color $color-A1
    line-height 40px
    height 40px
    color #FFF
    text-align center
    > span
      display inline-block
    > .pre, > .next
      cursor pointer
      width 40px
      height 40px
      background url("./img/icon_pre.png") no-repeat center
    > .next
      background-image url("./img/icon_next.png")
    > .label
      width 180px
      text-align center
      font-size 24px
      vertical-align middle

  .week-name
    width 100%
    line-height 40px
    height 40px
    font-size 20px
    text-align center
    background-color $color-A1
    > .day
      float left
      display block
      border none
      color #FFF
      width 14.2857142%
  .week
    width 100%
    font-size 24px
    overflow hidden
    > .day
      float left
      width 168px
      display block
      border-left 4px solid $color-A0
      border-bottom 4px solid $color-A0
      background-color #FFF
      text-align center
      height 88px
      line-height 88px
      color $color-Z2
      &:first-child
        border-left none
      > .number
        display block
      &.today
        > .number
          //color $color-A1
          width 164px
          height 84px
          border 2px solid $color-A1
        &.selected
          > .number
            background-color #FFF
            //color $color-A1
      &.selected
        > .number
          background-color $color-A0
          //color $color-Z1
      &.signed
        > .number
          background url("./img/icon_signed.png") 134px 54px no-repeat
          //color $color-B3
      &.different-month
        > .number
          color $color-Z4
          background #fbfbfb
