

#Ding
  clearfix()
  .title
    width 95%
    margin 10px auto
    font-size px2rem(30)
    color #333333
  .instruct
    width 95%
    margin 10px auto
    font-size px2rem(16)
    color #666666
    line-height px2rem(50)
  .line
    width 100%
    height 2px
    margin 10px 0
    background #ececec

