{
  "presets": [
    ["env", {
      "targets": {
        "browsers": "> 1%, last 4 versions, not ie < 9"
      },
      "modules": false,
      "useBuiltIns": true
    }],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        "transform-react-jsx-self"
      ]
    },
    "production": {
      "presets": [
        "react-optimize"
      ]
    }
  }
}

