.distribution
  .dx-footer-button
    color #ffffff
    span:before
      margin-right 0
    span.dx-icon-plus:before
      background url("./img/icon_plus.png") no-repeat center
      background-size px2rem(32)
  .footer-live
    background-color #595a5c
  .footer-plan
    background-color #38acff

.distribution-required
  height 100%
  position relative
  input[type=checkbox]
    input-checkbox()
    height px2rem(152)
    margin-right px2rem(24)
  .distribution-required-cover
    width px2rem(240)
    height px2rem(152)
    margin-right px2rem(24)
    overflow hidden
    img
      width 100%
      height 100%

  .distribution-course-list
    bottom px2rem(100)
    top px2rem(106)
  .disabled-next
    background-color #bec0c0
    border-color #bec0c0
