.dx-footer
  position:absolute
  bottom:0
  text-align center
  width 100%
  padding-top 60px
  .link
    margin-bottom 10px
    a
      margin 0 10px
  .copyright
    color $color-Z3
    line-height 1.75
  &.black
    background-color #202028
    padding-bottom 50px
    .link
      color #ebebeb
    a
      color #757578
      &:hover
        color #ebebeb
  &.white
    background-color #FFF
    padding-bottom 160px
    .link, a
      color $color-Z2
