@import '../exams/styles'
.exams
  .exams-btn
    display: inline-block
    width: px2rem(400)
    height: px2rem(80)
    line-height: px2rem(80)
    font-size: px2rem(32)
    color: #fff
    background-color: #38acff
    border-radius: px2rem(8)
    &:active
      background-color: #2a98e6
    &.disabled
      background-color: #dcdcdc
      color: rgba(255,255,255,0.64)
